# Python 3.11
# conda create -n agentLearning python=3.11

# agent
langchain_core
langgraph
langchain_community
langchain_experimental

openai

# server
fastapi
uvicorn
flask

transformers
# torch https://download.pytorch.org

# MCP tools
mcp
mcp-server